<style>
    .guideList{
        color:#333;
        padding-top: 10px;
    }
    .guideList li{
        line-height: 22px;
        margin-bottom: 20px;
    }
    .guideList li h5{
        margin-bottom: 5px;
        font-size: 15px;
    }
    .guideList li p{
        margin-bottom: 5px;
        font-size: 15px;
    }
</style>
<div class="tab">
    <div class="tabDiv">
        <ul class="guideList" id="tBody">

        </ul>
        <div id="page"></div>
    </div>
</div>

<script>
    $(function () {
        //加载第一页数据
        init();
    });

    //绑定数据
    function contentStr(data) {
        var str='';
        for (var i = 0; i < data.length; i++) {
            str += '<li>\n' +
                '            <h5>'+(i+1)+'.'+data[i].title+'</h5><p>'+data[i].content+'</p>\n' +
                '        </li>'
        }
        $('#tBody').html(str);
        //return str;
    }
    function init() {
    	$.post('/lygsbxt/guide/getGuideList',{},
        		function (data) {
		            contentStr(data.data);
		        }
        );
    }

</script>