.header{
    height: 190px;
    width:100%;
    background: #4B80DE;
    color: #fff;
}
.header .header_inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    padding: 30px 0;
}
.header .logoImg{
    width: 300px;
    vertical-align: text-bottom;
}
.header .logo span{
    vertical-align: text-bottom;
    font-size: 32px;
    padding-bottom: 15px;
}
.header .logo .rspImg{
    height: 70px;
    vertical-align: text-bottom;
    margin-bottom: 5px;
    margin-left: 10px;
}
.header .customer{
    position: absolute;
    right: 0;
    top:20px;
    z-index: 99;
}
.header .customer img{
    width: 120px;
}
.header .nav{
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 25px;
    background: #6496ED;
    z-index: 999;
    position: absolute;

}
.header .nav li{
    float: left;
    margin-left: 35px;
    height:100%;

}
.header .nav a{
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
}
.header .nav .cur{
    background: #FF9A18;
}
.header .nav li.search{
    float: right;
}
.header .nav .search span{
    width: 200px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    margin-right: 20px;
    text-align: left;
    overflow: hidden;
    padding: 0 15px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 20px;

}
.header .nav .search input{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    border: none;
    outline: none;
    color: #474747;
    width: 165px;
}
.header .nav .search img{
    vertical-align: middle;
    margin-left: 10px;
}
.header .nav:after{
    display: block;
    content: '';
    clear: both;
}

.header .nav .personLi{
    position: relative;
}

.header .nav .personLi dl{
    position: absolute;
    top:48px;
    left: 20px;
    height: 60px;
    width: 130px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}

.header .nav .personLi dl a{
    color: #333;
    margin-top: 0;
}
.header .nav .personLi dl a.curD{
    color: #4E83E1;
}
.header .nav .personLi dl::before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 19px;
    top: -8px;
    border-left: solid 8px transparent;
    border-bottom: solid 8px #ddd;
    border-right: solid 8px transparent;
}

.header .nav .personLi dl::after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 20px;
    top: -7px;
    border-left: solid 7px transparent;
    border-bottom: solid 7px white;
    border-right: solid 7px transparent;
}
.header .nav .personLi img{
    position: absolute;
    right: -3px;
    top:23px;
}
.footer{
    background: #4B80DE;
    width:100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    
    bottom: 0;
}
.main{
    width: 1200px;
    margin: 20px auto;
    /*min-height: 488px;*/
}
