.item{
  padding: 20rpx 3% 40rpx;
  background: #fff;
  margin-bottom: 20rpx
}
.item .title{
  margin-bottom: 20rpx;
}
.item .title image{
   width:24rpx;
   height: 22rpx;
   vertical-align: middle;
   margin-right: 10rpx;
}
.item .title text{
  font-size: 25rpx;
  vertical-align: middle;
}
.item .scrollView .scroll-view{
  width: 100%;
  display: flex;
  white-space: nowrap
  
}
.item .scrollView .scroll-view-item{
   width: 35%;
   margin-right: 3%;
   display: inline-block;
}
.item .scrollView image{
  width: 100%;
  height: 200rpx;
}
.item .scrollView .name{
  line-height: 38rpx;
  font-size: 24rpx;
  padding: 0 10rpx;
}
.item .scrollView .score{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#999;
  font-size: 22rpx;
  padding: 0 10rpx;
}
.item .scrollView .score .btn{
color:#fff;
background: #48B3EB;
border-radius: 30rpx;
font-size: 20rpx;
width: 80rpx;
line-height: 34rpx;
text-align: center;
padding: 0
}
