<view class='container'>
  <view class='item'>
    <view class='title'>
      <image src='/images/typeIcon.png'></image>
      <text>{{serviceFirst.typename}}</text>
    </view>
    <view class='scrollView'>
      <scroll-view scroll-x class='scroll-view'>
        <view class="scroll-view-item" wx:for-index='index' wx:for="{{serviceFirst.buildingWithCommentQualificationsList}}" data-index="{{index}}" wx:for-item="itemItem" wx:key="k" bindtap='jumpDetail' data-buildid="{{itemItem.buildid}}" data-type="1">
          <view class='img'>
            <image src='https://wechat.lygtc.cn/lygsbxt{{itemItem.firstpicture}}'></image>
          </view>
          <view class='name'>{{itemItem.name}}</view>
          <view class='score'>
            <text>{{itemItem.averagestars}}分</text>
            <text class='btn' wx:if="{{itemItem.hasCommentsQualifications}}" catchtap='goComment' data-buildid="{{itemItem.buildid}}" data-type="1">去评价</text>
            <text wx:else>{{itemItem.commentcount}}条</text>
          </view>
        </view>

      </scroll-view>
    </view>
  </view>
  <view class='item'>
    <view class='title'>
      <image src='/images/service.png'></image>
      <text>维修</text>
    </view>
    <view class='scrollView'>
      <scroll-view scroll-x class='scroll-view'>
        <view class="scroll-view-item" wx:for-item='item' wx:for="{{maintainList}}" data-index="{{index}}" wx:key="key" bindtap='jumpDetail' data-buildid="{{item.maintainid}}" data-type="2">
          <view class='img'>
            <image src='https://wechat.lygtc.cn/lygsbxt{{item.photourl}}'></image>
          </view>
          <view class='name'>{{item.realname}}</view>
           <view class='score'>
            <text>{{item.averagestars}}分</text>
            <text class='btn' wx:if="{{item.hasCommentsQualifications}}" catchtap='goComment' data-buildid="{{item.maintainid}}" data-type="2">去评价</text>
            <text wx:else>{{item.commentcount}}条</text>
          </view>
        </view>

      </scroll-view>
    </view>
  </view>
  <view class='item' wx:for="{{serviceList}}" wx:for-item="item" wx:key="key">
    <view class='title'>
      <image src='/images/typeIcon.png'></image>
      <text>{{item.typename}}</text>
    </view>
    <view class='scrollView'>
      <scroll-view scroll-x class='scroll-view'>
        <view class="scroll-view-item" wx:for-index='index' wx:for="{{item.buildingWithCommentQualificationsList}}" data-index="{{index}}" wx:for-item="itemItem" wx:key="k" bindtap='jumpDetail' data-buildid="{{itemItem.buildid}}" data-type="1">
          <view class='img'>
            <image src='https://wechat.lygtc.cn/lygsbxt{{itemItem.firstpicture}}'></image>
          </view>
          <view class='name'>{{itemItem.name}}</view>
          <view class='score'>
            <text>{{itemItem.averagestars}}分</text>
            <text class='btn' wx:if="{{itemItem.hasCommentsQualifications}}" catchtap='goComment' data-buildid="{{itemItem.buildid}}" data-type="1">去评价</text>
            <text wx:else>{{itemItem.commentcount}}条</text>
          </view>
        </view>

      </scroll-view>
    </view>
  </view>

</view>