<view class='container'>
<form bindsubmit="bindFormSubmit">
  <view class='item'>
    <text>维修标题</text>
    <input placeholder='请输入' placeholder-style="color:#aaa;" name='title' maxlength='20' value="{{detailData.title}}"></input>
  </view>
  <view class='item'>
    <text>维修地点</text>
    <input placeholder='请输入' placeholder-style="color:#aaa;" name='address' maxlength='20' value="{{detailData.address}}"></input>
  </view>
  <textarea placeholder="请输入维修内容" placeholder-style="color:#aaa;" maxlength="50" name="content" value="{{detailData.content}}"/>
  
  <view class='imgs'>
    <image src="https://wechat.lygtc.cn/lygsbxt{{img}}" wx:for="{{imgs}}" wx:for-item="img"  wx:for-index="index"  wx:key="key" data-index="{{index}}" bindtap="removeImg"></image>
    <image src='/images/upload.png' bindtap="chooseImage" style="display:{{imgCount==5?'none':'block'}}"  ></image>
  </view>
  <view class='btnEva'>
    <button form-type="submit">提交维修申报</button>
  </view>
  </form>
</view>