textarea{
  padding: 20rpx 3%;
  background: #fff;
  width: 96%;
  height: 420rpx;
}
.starView{
  height: 90rpx;
  line-height: 90rpx;
  background: #fff;
  margin-top: 20rpx;
  padding: 0 3%;
}
.starView text{
  color: #999;
  font-size: 24rpx;
  margin-right: 40rpx;
  vertical-align: middle
}
.starView image{
  height: 30rpx;
  width: 30rpx;
  vertical-align: middle;
  margin-right:20rpx;
}
.btnEva{
  height: 90rpx;
  width: 100%;
  margin: 80rpx auto 0
}
.btnEva button{
  background: #33AAFC;
  color: #fff;
  height: 90rpx;
  width: 90%;
  text-align: center;
  margin:  0 auto;
  border-radius: 50rpx;
  line-height: 90rpx;
  font-size: 32rpx;
}