<view class='container'>
<form bindsubmit="bindFormSubmit">
  <textarea placeholder="请输入评价内容" placeholder-style="color:#aaa;"  maxlength="50" name='content'/>
  <view class='starView'>
    <text>评价星级</text>
    <image src='/images/star_on.png' data-index='1' bindtap='changeStar'></image>
    <image src="{{stars>=2?'/images/star_on.png':'/images/star_off.png'}}" data-index='2' bindtap='changeStar'></image>
    <image src="{{stars>=3?'/images/star_on.png':'/images/star_off.png'}}" data-index='3' bindtap='changeStar'></image>
    <image src="{{stars>=4?'/images/star_on.png':'/images/star_off.png'}}" data-index='4' bindtap='changeStar'></image>
    <image src="{{stars>=5?'/images/star_on.png':'/images/star_off.png'}}" data-index='5' bindtap='changeStar'></image>
  </view>
  <view class='btnEva'>
    <button form-type="submit">提交评价</button>
  </view>
  </form>
</view>