<link rel="stylesheet" href="../layer/theme/default/layer.css">
<script src="../layer/layer.js"></script>
<style>
    .tabDiv h5{
        line-height: 30px;
        font-weight: normal;
        border-bottom: 1px solid #ddd;
        height: 30px;
    }
    .tabDiv h5:after{
        display: block;
        content: '';
        clear:both;
    }
    .tabDiv h5 .left{
        float: left;
    }
    .tabDiv h5 .right{
        float: right;
    }
    .tabDiv h5 .right b{
        color: #aa3A3A;
        font-size: 15px;
    }
    .tabDiv ul{
        padding:20px 30px;
        background: #f5f5f5;
        margin-top: 10px;
    }
    .tabDiv ul.recordOpe{
        margin-top: 20px;
    }
    .tabDiv ul.detailCon li{
        line-height: 30px;
    }
    .tabDiv ul.recordOpe li{
         line-height: 35px;
     }
    .tabDiv li label{
        font-weight: bold;
        font-size: 15px;
        margin-right: 5px;
    }
    .tabDiv .photos{
        display: inline-block;
        vertical-align: text-top;
    }
    .tabDiv .photos img{
        width: 120px;
        height: 80px;
        margin-right: 10px;
    }
    .tabDiv ul.recordOpe b{
        margin-right: 15px;
    }
</style>
<div>
    <div class="tab">
        <div class="tabDiv">
            <h5><span class="left">详细信息><span id="title">2015055222</span></span><span class="right">当前状态：<b id="state">待维修</b></span></h5>
            <ul class="detailCon">
                <li>
                    <label>报修人:</label>
                    <span id="repairMan"></span>
                </li>
                <li>
                    <label>报修时间:</label>
                    <span id="repairTime"></span>
                </li>
                <li>
                    <label>报修内容:</label>
                    <span id="repairCon"></span>
                </li>
                <li>
                    <label>报修地址:</label>
                    <span id="repairAddress"></span>
                </li>
                <li>
                    <label>图片:</label>
                    <div id="photos" class="photos"></div>
                </li>
            </ul>
            <ul class="recordOpe" id="recordOpe">

            </ul>
        </div>


    </div>
</div>
<script>

    $(function () {
        var id=localStorage.getItem('curid');
        localStorage.removeItem('curid');
        if(id){
            //加载数据
            getDetail(id)
        }else{
            layer.msg('非法访问')
        }

    });
    function getDetail(id) {
    	$.post('/lygsbxt/guide/getGuideList',{},
        		function (data) {
		            contentStr(data.data);
		        }
        );
        var para={
            url:'/lygsbxt/maintainorder/getMaintainorderSchedule',
            data:{orderid:id},
            successHandler:function (data) {
            	if(data.code=="200"){
            		bindDetail(data.data);
            	}else{
            		alert(data.msg);
            	}
                
            }
        };
        ajaxSubmit(para)
    }
    function bindDetail(data) {
        $('#title').html(data.orderid);
        $('#state').html(data.status);
        $('#repairMan').html(data.nickname);
        $('#repairTime').html(data.createtime);
        $('#repairCon').html(data.content);
        $('#repairAddress').html(data.address);
        
        var imgStr='';
        var recordStr='';
        for(var i=0;i<data.pictureList.length;i++){
            imgStr+='<img src="/lygsbxt'+data.pictureList[i].pictureurl+'" alt="">';
        }
        for(var j=0;j<data.scheduleList.length;j++){
            recordStr+='<li><b>'+data.scheduleList[j].createtime+'</b><span>'+data.scheduleList[j].detail+'</span></li>'
        }
        $('#photos').html(imgStr);
        $('#recordOpe').html(recordStr);
        preImg();


    }
    function preImg() {
        layer.photos({
            photos: '#photos'
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    }
</script>