.container{
  padding: 0 3%;
}
.list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list .item{
  width: 23.5%;
  height: 220rpx;
  background: #fff;
  margin-top: 30rpx;
  padding: 20rpx 0;
  text-align: center;
  border-radius: 8rpx;
  margin-right: 2%
}
.list .item:nth-child(4n){
  margin-right: 0
}
.list .item image{
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  margin-bottom: 5rpx;
}
.list .item .name{
  font-size: 28rpx;
  line-height: 30rpx;
  margin-bottom: 8rpx;
}
.list .item .tel{
  font-size: 20rpx;
  line-height: 30rpx;
  color: #999;
}
.list .item .role{
  font-size: 20rpx;
  color: #999;
}
.list .cur{
  background:#95D0FA; 
  color: #fff;
}
.list .cur .tel,.list .cur .role{
  color: #fff;
}

