<view class='container'>
<form bindsubmit="bindFormSubmit">
  <view class='item'>
    <text>原密码</text>
    <input placeholder='请输入原密码' placeholder-style="color:#aaa;" name='oldPassword' type="password"></input>
  </view>
  <view class='item'>
    <text>新密码</text>
    <input placeholder='请输入新密码' placeholder-style="color:#aaa;" name='newPassword' type="password"></input>
  </view>
  <view class='item'>
    <text>确认密码</text>
    <input placeholder='请输入确认密码' placeholder-style="color:#aaa;" name='confirmPassword' type="password"></input>
  </view>
  
  <view class='btnEva'>
    <button form-type="submit">提交</button>
  </view>
  </form>
</view>