<wxs module="filters" src="sendMem_detail.wxs"></wxs>
<view class="container">
  <view class="detail">
    <view class='title'>{{curData.title}}</view>
    <view class="date">
      <image src="/images/date.png"></image>
      <text class='datetime'>{{filters.dateFormat(curData.createtime)}}</text>
    </view>
    <view class='desc'>{{curData.content}}</view>
    <view class='imgs'>
      <!--<scroll-view scroll-x class='scroll-view'>
        <image src='https://wechat.lygtc.cn/lygsbxt{{img}}' class="scroll-view-item" wx:for-index='index' wx:for="{{curData.pictureurls}}" wx:for-item="img" wx:key="key"></image>      
      </scroll-view>-->
      <image bindtap="prevImg" data-list="{{curData.pictureurls}}" data-src="https://wechat.lygtc.cn/lygsbxt{{img}}" wx:for="{{curData.pictureurls}}" wx:for-item="img" src="https://wechat.lygtc.cn/lygsbxt{{img}}" wx:key="key"></image>
    </view>
  </view>
  <view class='selectMem' >
    <text class="textTip">选择维修人员</text>
    <view bindtap='selectMem'>
      <text wx:if="{{maintainid}}">{{maintainName}}</text>
      <text wx:else>请选择</text>

      <image src='/images/arrow_right.png'></image>
    </view>
  </view>
  <view class='btnSubmit'>
    <view bindtap='sendTask'>立即派单</view>
  </view>
</view>