<view class='container'>
  <view class='title'>
    <view class='chinese'>请选择您的身份</view>
    <view class='en'>Please Select Your Identity</view>
  </view>
  <view class='item user' bindtap='enterPage' data-role='1'>
    <view>
      <view class='role'>我是用户</view>
      <view>User</view>
    </view>
    <view>
      <image src="/images/user.png"></image>
    </view>
  </view>
  <view class='item maintenance' bindtap='enterPage' data-role='2'>
    <view>
      <view class='role'>我是维修人员</view>
      <view>Maintenance Man</view>
    </view>
    <view>
      <image src="/images/maintenanceMem.png"></image>
    </view>
  </view>
  <view class='item sendMem' bindtap='enterPage' data-role='3'>
    <view>
      <view class='role'>我是派单员</view>
      <view>Dispatch Officer</view>
    </view>
    <view>
      <image src="/images/sendMem.png"></image>
    </view>
  </view>
</view>