page{
  background: #fff;
}
.container{
  padding: 0 10%;
}
.logo{
  margin: 90rpx auto;
  text-align: center;
}
.logo image{
  width: 360rpx;
  height: 240rpx
}
.item{
  width: 100%;
  border-bottom: 2rpx solid #cdcdcd;
  height: 70rpx;
  line-height: 70rpx;
  margin-bottom: 40rpx;
}
.btn button{
  background: #33AAFE;
  color: #fff;
  border-radius: 60rpx;
  border: none;
  line-height: 90rpx;
  margin-top: 100rpx;
  font-size: 32rpx
}