page{
  background: #fff;
}
.succPage{
  margin: 0 auto;
  padding-top: 80rpx;
}
.succPage .succImg{
  text-align: center
}
.succPage .succImg image{
  width: 290rpx;
  height: 200rpx;
}
.succPage .succText{
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 38rpx;

}
.succPage .succFirstBtn{
  width:420rpx;
  text-align: center;
  height:80rpx;
  line-height: 80rpx;
  background: #33AAFC;
  color: #fff;
  border-radius: 50rpx;
  font-size: 32rpx;
  margin: 30rpx auto;
}
.succPage .succSecondBtn{
  width: 416rpx;
  text-align: center;
  height:80rpx;
  line-height: 80rpx;
  background: #fff;
  color: #33AAFC;
  border-radius: 50rpx;
  font-size: 32rpx;
  border: 2rpx solid #33AAFC;
  margin: 0 auto;
}