<view classs='container'>
  <view class='list'>
    <view class='item' bindtap="editInfo" wx:if="{{type==1}}">
     <image src='/images/myRecordIcon.png'></image>
      <text>修改个人信息</text>
      <image src='/images/arrow_right.png'></image>
    </view>
    <view class='item' bindtap="editPass" wx:elif="{{type==2}}">
     <image src='/images/myRecordIcon.png'></image>
      <text>修改密码</text>
      <image src='/images/arrow_right.png'></image>
    </view>
    <view class='item' bindtap='logout'>
      <image src='/images/setActive.png'></image>
      <text>退出登录</text>
      <image src='/images/arrow_right.png'></image>
    </view>
  </view>
</view>