<view class='container'>
<form bindsubmit="bindFormSubmit">
  <view class='item' style="height:180rpx;line-height:180rpx;">
    <text>头像</text>
    <image src='{{headurl}}' bindtap="chooseImage" style="height:140rpx;width:140rpx;border-radius:50%;"></image>
  </view>
  <view class='item'>
    <text>昵称</text>
    <input placeholder='请输入' placeholder-style="color:#aaa;" name='nickname' maxlength='10' value="{{nickname}}"></input>
  </view>
  
  <view class='btnEva'>
    <button form-type="submit">提交</button>
  </view>
  </form>
</view>