<wxs module="filters" src="sendMem_list.wxs"></wxs>
<view class="container">
  <view class="header" wx:if="{{role==2}}">
    <view class="item {{curIndex==0?'cur':''}}" data-type='未完成' catchtap='change'>
      未完成
      <image src="/images/border.png"></image>
    </view>
    <view class="divider">|</view>
    <view class="item {{curIndex==1?'cur':''}}" data-type='已完成' catchtap='change'>已完成
      <image src="/images/border.png"></image>
    </view>
    <view class='set'>
      <navigator url="/pages/set/set?type=2">
        <image src="/images/set.png"></image>
      </navigator>
    </view>
  </view>
  <view class="header" wx:else>
    <view class="item {{curIndex==0?'cur':''}}" data-type='未派单' catchtap='change'>
      待派单
      <image src="/images/border.png"></image>
    </view>
    <view class="divider">|</view>
    <view class="item {{curIndex==1?'cur':''}}" data-type='已派单' catchtap='change'>已派单
      <image src="/images/border.png"></image>
    </view>
    <view class='set'>
      <navigator url="/pages/set/set?type=2">
        <image src="/images/set.png"></image>
      </navigator>
    </view>
  </view>
  <view>
    <view class="list">
      <view class="item" wx:for="{{list}}" wx:key="key" wx:for-item="item">
        <view class="date">
          <image src="/images/date.png"></image>
          <text class='datetime'>{{filters.dateFormat(item.createtime)}}</text>
          <text class='state' style="color:#33aafc" wx:if="{{item.status=='未派单'}}">{{item.status}}</text>
          <text class='state' style="color:#61D95C" wx:if="{{item.status=='维修中'}}">{{item.status}}</text>
          <text class='state' style="color:#F06262" wx:if="{{item.status=='待评价'}}">{{item.status}}</text>
          <text class='state' wx:if="{{item.status=='已完成'}}">{{item.status}}</text>
        </view>
        <view class='inner'>
          <view class='title'>{{item.title}}</view>
          <view class='desc'>{{item.content}}</view>
          <view class='imgs'>
            <scroll-view scroll-x class='scroll-view'>
              <image src='https://wechat.lygtc.cn/lygsbxt{{img}}' class="scroll-view-item" wx:for-index='index' wx:for="{{item.pictureurls}}" wx:for-item="img" wx:key="key"></image>
            </scroll-view>

          </view>
          <view class='addr'>
            <image src='/images/position.png'></image>
            <text>{{item.address}}</text>
          </view>
        </view>
        <view class='btn' wx:if="{{item.status=='未派单'}}">
          <navigator url='/pages/sendMem_detail/sendMem_detail?orderId={{item.orderid}}&role=3'>
            <text>派单</text>
          </navigator>
        </view>
        <view class='btn' wx:if="{{role==2 && item.status=='维修中'}}">
          <navigator url='/pages/sendMaintain_detail/sendMaintain_detail?orderId={{item.orderid}}&role=2'>
            <text style='padding:0 20rpx;'>确认完成</text>
          </navigator>
        </view>
        <view class='btn miantaining' wx:if="{{role==3 && (item.status=='维修中' || item.status=='待评价')}}">
          <image src='https://wechat.lygtc.cn/lygsbxt{{item.maintainuser.photourl}}' class='maintainHeadurl'></image>
          <view class='maintainInfo'>
            <view>{{item.maintainuser.realname}}</view>
            <view class='tel'>{{item.maintainuser.username}}</view>
          </view>
          <image src="/images/tel.png" class='telIcon' bindtap='call' data-phone="{{item.maintainuser.username}}"></image>
        </view>
        <view class='btn miantaining' wx:if="{{role==3 && item.status=='已完成' }}">
          <image src='https://wechat.lygtc.cn/lygsbxt{{item.maintainuser.photourl}}' class='maintainHeadurl'></image>
          <view class='maintainInfo' style="padding:10rpx 0">
            <view>{{item.maintainuser.realname}}</view>
            <view class='tel'>{{item.maintainuser.username}}</view>
            <view class='tel'>{{item.commentsWithWxuser.content?item.commentsWithWxuser.content:''}}</view>
          </view>
          <image src="/images/tel.png" class='telIcon' bindtap='call' data-phone="{{item.maintainuser.username}}"></image>
        </view>
        <view class='btn miantaining' wx:if="{{role==2 && item.status=='已完成'}}">
          <image src='{{filters.headurlFormat(item.wxuser.headurl)}}' class='maintainHeadurl'></image>
          <view class='maintainInfo'>
            <view class='evaScore' style="margin-top:10rpx;margin-left:-6rpx;">
              <block wx:if='{{item.comments.stars > 0}}'>
                <block wx:for='{{item.comments.stars-0}}' wx:key='un'>
                  <image src='/images/star_on.png'></image>
                </block>
              </block>
              <block wx:if='{{item.comments.stars < 5}}'>
                <block wx:for='{{5-item.comments.stars-0}}' wx:key="un">
                  <image src='/images/circle_star.png'></image>
                </block>
              </block>
            </view>
            <view class='tel'>{{item.wxuser.nickname}}</view>
            <view class='tel' style="margin-bottom:10rpx;font-size:20rpx">{{item.comments.content?item.comments.content:''}}</view>
          </view>
        </view>
      </view>
    </view>
  </view>
</view>