/*@import '/pages/template/template.wxss';*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  background: #fff;
}

.header .divider {
  color: #e6e6e6;
  font-size: 24rpx;
}

.header .item {
  flex: 1;
  text-align: center;
  position: relative;
}

.header .item image {
  display: none;
  position: absolute;
  bottom: 2rpx;
  left: 50%;
  height: 8rpx;
  width: 84rpx;
  margin-left: -42rpx;
}

.header .cur {
  color: #33aafc;
}

.header .cur image {
  display: block;
}

.header .set image{
  height: 32rpx;
  width: 32rpx;
  margin-right: 20rpx;
  margin-top:30rpx;
}

.list .item {
  background: #fff;
  margin-top: 20rpx;
  padding: 0 3%;
}

.list .item .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70rpx;
  line-height: 70rpx;
}

.list .item .date image {
  width: 24rpx;
  height: 24rpx;
}

.list .item .date .datetime {
  color: #999;
  flex-grow: 1;
  margin-left: 10rpx;
  font-size: 24rpx;
}

.list .item .date .state {
  color: #f0605f;
  font-size: 24rpx;
}

.list .item .btn {
  text-align: right;
  min-height: 80rpx;
  line-height: 80rpx;
  
}
.list .item .evaScore image{
  width:20rpx;
  height: 18rpx;
  margin-left: 6rpx;
  vertical-align: top
}

.list .item .btn text {
  height: 50rpx;
  line-height: 50rpx;
  width: 100rpx;
  text-align: center;
  background: #33aafe;
  color: #fff;
  display: inline-block;
  border-radius: 28rpx;
  font-size: 23rpx;
}

.list .item .btn navigator{
  display: inline-block
}
.list .item .miantaining{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list .item .maintainHeadurl{
  height: 50rpx;
  width: 50rpx;
  border-radius: 50%;
  margin-right: 10rpx;
}
.list .item .telIcon{
  height: 50rpx;
  width: 50rpx;
}
.list .item .maintainInfo{
  flex: 1;
  display: flex;
  flex-direction:column;
  text-align: left;
}
.list .item .maintainInfo view{
  height: 32rpx;
  line-height: 32rpx;
  font-size:24rpx;
}
.list .item .maintainInfo .tel{
  color: #999;
}

.list .item .inner {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10rpx 0;
}

.list .inner .title {
  line-height: 60rpx;
  font-size: 28rpx;
  color: #000;
}

.list .inner .desc {
  line-height: 40rpx;
  color: #999;
  font-size:22rpx;
  letter-spacing: 2rpx;
}
.list .inner .imgs{
  margin-top: 20rpx;
}
.list .inner .scroll-view {
  display: flex;
  width: 100%;
  white-space: nowrap
}

.list .inner .imgs image {
  height: 130rpx;
  width: 130rpx;
  margin-right: 20rpx;
}

.list .inner .addr {
  height: 40rpx;
  line-height: 40rpx;
  color: #999;
  font-size: 24rpx;
}
.list .inner .addr image{
  width: 22rpx;
  height: 27rpx;
  vertical-align: middle;
  margin-right: 10rpx;
}
.list .inner .addr text{
  vertical-align: middle;
}
